/*PARTE CENTRAL SUPERIOR DA TELA*/
.centro-geral{
    display: flex;
    flex-direction: column;
    /* width: auto; */
    margin: auto;
}

.topo{
    font-size: 1.1rem;
    font-weight: 900;
    /* width: 100%; */
    /* height: 18%; */
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}


.topo-pagina-inicial{
    padding: 8px ;
    width: 100%;
    border-bottom: 1px solid gray;
    display: block;
}

.topo-pagina-inicial a{
    display: block;
}


.topo .foto-perfil img{
    width: 50px;
    height: 50px;
    border-radius: 70px;
    margin-right: 12px;
}

.foto-perfil a{
    width: fit-content;
    padding: 0;
}

.text-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.formulario-tweetar{
    display: flex;
    /* height: auto; */
    margin: 8px 8px 0px 8px;
    
}

.formulario-tweetar textarea{
    height: 55px;
    width: 100%;
    background-color: rgb(20, 36, 44);
    color: white;
    resize: none;
    border: none;
    outline: none;
}

.botoes-e-botao-tweetar{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    /* height: 30%; */
    justify-content: space-between;

}


.botoes a{
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
}

.botoes a img{
    height: 20px;
    width: 20px;
}

.botoes a:hover{
    background-color: rgba(40, 90, 170, 0.1);
}

.text-area button{
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    background-color:  rgb(10, 150, 241);
    outline: none;
    border: none;
}

/*PARTE DAS PUBLICAÇÕES (MEIO DA TELA)*/

.publicacoes{
    display: flex;
    flex-direction: column;
    /* width: 600px; */
    /* margin-top: 10px; */
    border: 1px solid gray;
}

.publicacoes img:first-child{
    width: 50px;
    height: 50px;
    border-radius: 70px;
}

.publicacao{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    padding: 10px;
    margin: 0;
    /* height: auto; */
}

.publicacao:hover{
    cursor: pointer;
    background-color: rgb(40, 56, 64);
}

.conteudo{
    height: fit-content; /*tá mantendo tudo dentro da div quando ela é redimensionada, não deixando vazar em cima de outros elementos*/
}

.conteudo p{
    color: white;
    font-size: 0.9rem;
    padding: 5px 10px;
}

.conteudo img{
    margin: 10px;
    width: 95%;
    /* height: 70%; */
    border-radius: 20px;
}

.conteudo span{
    color: gray;
    font-size: 0.85rem;
}

.conteudo a:hover{
    text-decoration: underline;
}

.comentario:hover{
    color: skyblue;
}

.retweet:hover{
    color: green;
}

.curtida:hover{
    color: red;
}

.botoes-publicacao{
    display: flex;
    justify-content: space-around;
}

.publicacao .conteudo horario:hover{
    text-decoration: underline;
}




@media (max-width: 1002px){
    .centro-geral{
        /* width: auto; */
    }
    .publicacao{
        /* height: auto; */
    }
}

@media (max-width: 770px){
    .centro-geral{
        /* margin: auto; */
    }

}

@media (max-width: 500px){
    .formulario-tweetar{
        display: none;
    }

    .publicacao{
        /* height: auto; */
    }

    .conteudo img{
        /* height: auto; */
    }
}

@media (max-width: 370px){
    horario, tag{
        display: none;
    }

    
}