@font-face{
    src: url(../fonts/gotham.otf);
    font-family: 'gotham';
}

*{
    margin: 0;
    padding: 0;
    font-family: 'gotham', 'sans-serif';
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    height: auto;
    width: 100%;
    background-color: rgb(20, 36, 44);
    font-size: 16px;
}

section{
    height: 100%;
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

/*PARTE ESQUERDA DA TELA*/

.esquerda{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 12px;
    width: 70%;
    padding-left: 70px;
}

.esquerda img:nth-child(1){
    width: 30px;
    height: 30px;
}

.esquerda a{
    color: white;
    font-weight: 900;
    width: fit-content; /*área clicável do link se ajustando ao conteúdo*/
}

.esquerda a:hover{
    color: #6D9DEF;
    background-color: rgba(40, 90, 170, 0.1);
    border-radius: 20px;
}

.esquerda a:nth-child(1){
    width: 50px;
    height: 50px;
    border-radius: 60px;
}

.esquerda .tweetar-grande{
    padding: 18px 50px;
    border-radius: 30px;
    background-color: rgb(10, 150, 241);
    color: white;
    outline: none; /*removendo o contorno que fica em volta do botão quando selecionado*/
    border: none; /*tirando o efeito 3d de clique do botão*/
    font-weight: 900;
    width: 180px; /*coloquei botão de tamanho fixo pq o site original é fixo tbem*/
}

.esquerda .tweetar-pequeno{
    display: none;
    background-color:  rgb(10, 150, 241);
    padding: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
}

.esquerda button:hover{
    background-color:  rgb(10, 140, 241);
}




@media (max-width: 1279px){
    .esquerda{
        width: fit-content;
        align-items: center;
        
    }

    .esquerda .tweetar-grande{
        display: none;
    }

    .esquerda .tweetar-pequeno{
        display: block;
    }

    .esquerda span{
        display: none;
    }
}

@media (max-width: 700px){
    .esquerda{
        display: none;
    }
}