@font-face{
    src: url(../fonts/gotham.otf);
    font-family: 'gotham';
}

*{
    margin: 0;
    padding: 0;
    font-family: 'gotham', 'sans-serif';
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    height: auto;
    width: 100%;
    background-color: rgb(20, 36, 44);
    font-size: 16px;
}

section{
    height: 100%;
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

/*PARTE ESQUERDA DA TELA*/

.esquerda{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 12px;
    width: 25%;
    padding-left: 70px;
}

.esquerda img:nth-child(1){
    width: 30px;
    height: 30px;
}

.esquerda a{
    color: white;
    font-weight: 900;
    width: fit-content; /*área clicável do link se ajustando ao conteúdo*/
}

.esquerda a:hover{
    color: #6D9DEF;
    background-color: rgba(40, 90, 170, 0.1);
    border-radius: 20px;
}

.esquerda a:nth-child(1){
    width: 50px;
    height: 50px;
    border-radius: 60px;
}

.esquerda .tweetar-grande{
    padding: 18px 50px;
    border-radius: 30px;
    background-color: rgb(10, 150, 241);
    color: white;
    outline: none; /*removendo o contorno que fica em volta do botão quando selecionado*/
    border: none; /*tirando o efeito 3d de clique do botão*/
    font-weight: 900;
    width: 230px; /*coloquei botão de tamanho fixo pq o site original é fixo tbem*/
}

.esquerda .tweetar-pequeno{
    display: none;
    background-color:  rgb(10, 150, 241);
    padding: 20px;
    border-radius: 50px;
    outline: none;
    border: none;
}

.esquerda button:hover{
    background-color:  rgb(10, 140, 241);
}


/*PARTE CENTRAL SUPERIOR DA TELA*/
.topo{
    font-size: 1.1rem;
    font-weight: 900;
    width: 600px;
    height: 180px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}


.topo-pagina-inicial{
    padding: 8px ;
    width: 100%;
    border-bottom: 1px solid gray;
    display: block;
}

.topo-pagina-inicial a{
    display: block;
}

.topo .foto-perfil img{
    width: 50px;
    height: 50px;
    border-radius: 70px;
    margin-right: 12px;
}

.foto-perfil a{
    width: fit-content;
    padding: 0;
}

.text-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.formulario-tweetar{
    display: flex;
    height: 114px;
    margin: 8px 8px 0px 8px;
    
}

.formulario-tweetar textarea{
    height: 45px;
    width: 100%;
    background-color: rgb(20, 36, 44);
    color: white;
    resize: none;
}

.botoes-e-botao-tweetar{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    /* height: 30%; */
    justify-content: space-between;

}


.botoes a{
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
}

.botoes a img{
    height: 20px;
    width: 20px;
}

.botoes a:hover{
    background-color: rgba(40, 90, 170, 0.1);
}

.text-area button{
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    font-weight: 900;
    background-color:  rgb(10, 150, 241);
    outline: none;
    border: none;
}




@media (max-width: 1279px){
    .esquerda{
        width: fit-content;
        align-items: center;
        
    }

    .esquerda .tweetar-grande{
        display: none;
    }

    .esquerda .tweetar-pequeno{
        display: block;
    }

    .esquerda span{
        display: none;
    }
}

